<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Refrescos</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Beau+Rivage&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/FontAwesome.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/Bold-BS4-Responsive-Pricing-Table-Snippet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="/assets/css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css">
    <link rel="stylesheet" href="/assets/css/Profile-with-data-and-skills.css">
    <link rel="stylesheet" href="/assets/css/Projects-Grid-Horizontal-images.css">
    <link rel="stylesheet" href="/assets/css/Simple-Bootstrap-Chat-1.css">
    <link rel="stylesheet" href="/assets/css/Simple-Bootstrap-Chat.css">
    <link rel="stylesheet" href="/assets/css/Team-icons.css">
    <link rel="stylesheet" href="/assets/css/untitled.css">
    <link rel="stylesheet" href="/assets/css/User-Rating-F19690.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <main class="page hire-me-page">
        <section class="portfolio-block hire-me">
            <nav class="navbar navbar-dark navbar-expand-lg fixed-top portfolio-navbar gradient" style="background: linear-gradient(120deg, #125de0, #0effff);height: 6rem;width: 100%;">
                <div class="container"><a class="navbar-brand logo" href="#">WR</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav ms-auto">
                        <li class="nav-item item"><a class="nav-link active" href="/home">Home</a></li>
                        <li class="nav-item item"><a class="nav-link" href="/regAgua">Registro</a></li>
                        <li class="nav-item item"><a class="nav-link" href="/refrescos">Otras Bebidas</a></li>
                        <li class="nav-item item"><a class="nav-link" href="/grupos">Grupos</a></li>
                        <li class="nav-item item"><a class="nav-link" href="/perfil">Perfil</a></li>
                    </ul>
                    </div>
                </div>
            </nav>
            
    </main>
   


    <div class="col me-2">
    
      <div class="row">

        <div class="column">
      <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span></span>
          
              <div class="card shadow border-start-primary py-2">
                  <div class="card-body">
                      <div class="row align-items-center no-gutters">
                          <div class="col me-2">
                            <a href="/refrescos">  <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>refrescos</span></div></a>
                          </div>
                          <div class="col-auto"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-96 0 512 512" width="1em" height="1em" fill="currentColor" class="fa-2x text-gray-300" style="color: var(--bs-teal);">
                                  <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                  <path d="M200 0C213.3 0 224 10.75 224 24V64H96V24C96 10.75 106.7 0 120 0H200zM32 151.7C32 136.1 41.04 121.9 55.19 115.3L79.6 103.8C90.58 98.67 102.6 96 114.7 96H205.3C217.4 96 229.4 98.67 240.4 103.8L264.8 115.3C278.1 121.9 288 136.1 288 151.7C288 166.1 280.5 178.7 269.1 185.8C280.6 194.6 288 208.4 288 223.1C288 240.7 279.5 255.4 266.5 263.1C279.5 272.6 288 287.3 288 303.1C288 320.7 279.5 335.4 266.5 344C279.5 352.6 288 367.3 288 384C288 400.7 279.5 415.4 266.5 424C279.5 432.6 288 447.3 288 464C288 490.5 266.5 512 240 512H80C53.49 512 32 490.5 32 464C32 447.3 40.52 432.6 53.46 424C40.52 415.4 32 400.7 32 384C32 367.3 40.52 352.6 53.46 344C40.52 335.4 32 320.7 32 303.1C32 287.3 40.52 272.6 53.46 263.1C40.52 255.4 32 240.7 32 223.1C32 208.4 39.4 194.6 50.87 185.8C39.53 178.7 32 166.1 32 151.7L32 151.7zM112 256H208C216.8 256 224 248.8 224 240C224 231.2 216.8 224 208 224H112C103.2 224 96 231.2 96 240C96 248.8 103.2 256 112 256zM112 352C103.2 352 96 359.2 96 368C96 376.8 103.2 384 112 384H208C216.8 384 224 376.8 224 368C224 359.2 216.8 352 208 352H112z"></path>
                              </svg></div>
                      </div>
                  </div>
              </div>
          </div>
      
        
      
      
      </div>



      <div class="column">
      <div class="text-uppercase text-success fw-bold text-xs mb-1">
      
          <div class="card shadow border-start-success py-2">
              <div class="card-body">
                  <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <a href="/refrescos/alcohol">  <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Bebidas alcoholicas</span></div></a>
                          <div class="text-dark fw-bold h5 mb-0"></div>
                      </div>
                      <div class="col-auto"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="fa-2x text-gray-300">
                              <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                              <path d="M507.3 72.57l-67.88-67.88c-6.252-6.25-16.38-6.25-22.63 0l-22.63 22.62c-6.25 6.254-6.251 16.38-.0006 22.63l-76.63 76.63c-46.63-19.75-102.4-10.75-140.4 27.25l-158.4 158.4c-25 25-25 65.51 0 90.51l90.51 90.52c25 25 65.51 25 90.51 0l158.4-158.4c38-38 47-93.76 27.25-140.4l76.63-76.63c6.25 6.25 16.5 6.25 22.75 0l22.63-22.63C513.5 88.95 513.5 78.82 507.3 72.57zM179.3 423.2l-90.51-90.51l122-122l90.51 90.52L179.3 423.2z"></path>
                          </svg></div>
                  </div>
              </div>
          
      </div>
      </div>
    </div>



<div class="column">

<div class="text-uppercase text-warning fw-bold text-xs mb-1"><span></span>
        
              <div class="card shadow border-start-warning py-2">
                  <div class="card-body">
                      <div class="row align-items-center no-gutters">
                          <div class="col me-2">
                            <a href="/refrescos/energeticas"><div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>bebidas energeticas</span></div></a>
                          </div>
                          
                          <div class="col-auto"><i class="fas fa-bolt fa-2x text-gray-300"></i></div>
                      </div>
                  </div>
              </div>
          
</div>
</div>
  

<div class="column">
          <div class="text-uppercase text-info fw-bold text-xs mb-1"><span></span>
  
<div class="card shadow border-start-info py-2">
          <div class="card-body">
              <div class="row align-items-center no-gutters">
                  <div class="col me-2">
                    <a href="/refrescos/jugos">  <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>jugos</span></div></a>
                      <div class="row g-0 align-items-center">
                          <div class="col-auto">
                              <div class="text-dark fw-bold h5 mb-0 me-3"></div>
                          </div>
                      </div>
                  </div>
                  <div class="col-auto"><i class="fas fa-apple-alt fa-2x text-gray-300"></i></div>
              </div>
          </div>
      </div>
    </div>

  </div>







       
      </div>
    </div>
      
    
      
  
  
  
              
  





        <!--collapsible-->
       
      
          <div class="search">
             <input type="text" class="searchTerm" placeholder="What are you looking for?">
             <button type="submit" class="searchButton">
               <i class="fa fa-search"></i>
            </button>
          </div>
      
      
        <!-- div principal de Alcoholes-->
       
          <div class="row">
      
        
      
      
          <div class="column"> 
          <div class="card">
            <form method="post" action="/refrescos/addAlcohol">
            <img src="/assets/img/no.png" alt="" style="width:100%">
            <h1>El Compadre</h1>
            <button type="button" class="teble" id="teble"> Más información</button>
      
            <div class="content">
              <!--tabla-->
              <table id="customers"  style="overflow-x:auto;">
                <tr>
               <th>%alc</th>
                   <th>Agua</th>
                   <th>Calorias</th>
                   <th>Azucar</th>
        
                 </tr>
                <tr>
                   <td id="compa1">33.6</td>
                   <td id="compa2">40 mL</td>
                   <td id="compa3">186 cal</td>
                   <td id="compa4">0.2 g</td>
                   <input type="hidden" name="agua" value="40" >
               
                </tr>
                  </table>
            </div>
      
            <div class="caja">
              <!--Select-->
              <select name="cantidad">
                <option disabled selected="">Ingrese la cantidad </option>
                <option>100 mL</option>
                <option>150 mL</option>
                <option>200 mL </option>
                <option>300 mL</option>
                <option>400 mL</option>
                <option>500 mL</option>
                <option>600 mL</option>
                <option>700 mL</option>
                <option>800 mL</option>
                <option>900 mL</option>
                <option>1000 mL</option>
                <option>1200 mL</option>
                <option>1400 mL</option>
                <option>1500 mL</option>
                <option>1600 mL</option>
                <option>1800 mL</option>
                <option>1900 mL</option>
                <option>2000 mL</option>
                <option>2100 mL</option>
              </select>
            </div>
          <p><button class="button" id="button" type="submit">Ingresar</button></p>
        </form>
       <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
        <form method="post" action="/refrescos/addSoda">
        <img src="/assets/img/jacilito.webp" alt="" style="width:100%">
        <h1>Jacalito</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <!--tabla-->
          <table id="customers">
            <tr>
                <th>%alc</th>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
      
             </tr>
            <tr>
               <td id="jacalito1">24.8</td>
               <td id="jacalito2">40 mL</td>
               <td id="jacalito3">141 cal</td>
               <td id="jacalito4">1.1 g</td>
               <input type="hidden" name="agua" value="40" >
           
            </tr>
              </table>
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/el leon dorado.webp" alt="" style="width:100%">
      <h1>El León Dorado</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <!--tabla-->
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="leon1">19.2</td>
             <td id="leon2">40 mL</td>
             <td id="leon3">106 cal</td>
             <td id="leon4">0.2 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/no.png" alt="" style="width:100%">
      <h1>El tarasco</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <!--tabla-->
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
              <td id="tarasco1"> 36.6</td>
             <td id="tarasco2">40 mL</td>
             <td id="tarasco3">204 cal</td>
             <td id="tarasco4">0 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      <!--End of row-->
      </div>
      
      
      <div class="row">
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/enigma.jfif" alt="" style="width:100%">
      <h1>Enigma</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <!--tabla-->
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="enigma1">28.8</td>
             <td id="enigma2">40 mL</td>
             <td id="enigma3">160 cal</td>
             <td id="enigma4">1.08 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/ersitoff.webp" alt="" style="width:100%">
      <h1>Eristoff</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <!--tabla-->
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="eris1">37.5</td>
             <td id="eris2">61 mL</td>
             <td id="eris3">206 cal</td>
             <td id="eris4">0 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/gorloska.webp" alt="" style="width:100%">
      <h1>Gorloska</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <!--tabla-->
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="goro1">40.8</td>
             <td id="goro2">61 mL</td>
             <td id="goro3">226 cal</td>
             <td id="goro4">0 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/jhon cor.jpg" alt="" style="width:100%">
      <h1>Jhon Cor</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <!--tabla-->
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="john1">40.1</td>
             <td id="john2">43 mL</td>
             <td id="john3">220 cal</td>
             <td id="john4">0 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      <!--End of row-->
      </div>
      
      
      
      <div class="row">
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/karat.webp" alt="" style="width:100%">
      <h1>Karat</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <!--tabla-->
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="kara1">40.1</td>
             <td id="kara2">61 mL</td>
             <td id="kara3">221 cal</td>
             <td id="kara4">0 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/kerenki.webp" alt="" style="width:100%">
      <h1>Kerenki</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <!--tabla-->
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
              <td id="keren1">39.8</td>
             <td id="keren2">61 mL</td>
             <td id="keren3">219 cal</td>
             <td id="keren4">0g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/el llano escondido.webp" alt="" style="width:100%">
      <h1>El llano escondido</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <!--tabla-->
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="llano1">27.9</td>
             <td id="llano2">40 mL</td>
             <td id="llano3">157 cal</td>
             <td id="llano4">1.06 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/los reyes.webp" alt="" style="width:100%">
      <h1>Los reyes</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <!--tabla-->
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="reyes1">32.3</td>
             <td id="reyes2">40 mL</td>
             <td id="reyes3">179 cal</td>
             <td id="reyes4">0.3 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      <!--End of row-->
      </div>
      
      <div class="row">
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/mckendalls.webp" alt="" style="width:100%">
      <h1>Mckendalls</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <!--tabla-->
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="mck1">39.9</td>
             <td id="mck2">40 mL</td>
             <td id="mck3">220 cal</td>
             <td id="mck4">0 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      <div class="column">
      <div class="card">
        <form method="post" action="/refrescos/addSoda">
        <img src="/assets/img/no te rajes.jpg" alt="" style="width:100%">
        <h1>No te rajes</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <table id="customers">
            <tr>
           <th>%alc</th>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
      
             </tr>
            <tr>
        <td id="note1">27.9</td>
               <td id="note2">40 mL</td>
               <td id="note3">160 cal</td>
               <td id="note4">1.5 g</td>
               <input type="hidden" name="agua" value="40" >
           
            </tr>
              </table>
      
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/oso negro.webp" alt="" style="width:100%">
      <h1>Oso Negro</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <table id="customers">
          <tr>
         <th>Alcohol(%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="oso1">37.8</td>
             <td id="oso2">40 mL</td>
             <td id="oso3">208 cal</td>
             <td id="oso4">0 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      
      
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/no.png" alt="" style="width:100%">
      <h1>Paloma Blanca</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="pab1">25.1</td>
             <td id="pab2">40 mL</td>
             <td id="pab3">138 cal</td>
             <td id="pab4">0.2 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      
      
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      <!--End of row-->
      </div>
      
      
      <div class="row">
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/paloma negra.webp" alt="" style="width:100%">
      <h1>Jarochito</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="paln1">26.6</td>
             <td id="paln2">40 mL</td>
             <td id="paln3">151 cal</td>
             <td id="paln4">1.23 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/presidente.webp" alt="" style="width:100%">
      <h1>Presidente</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="presi1">35.2</td>
             <td id="presi2">52 mL</td>
             <td id="presi3">196 cal</td>
             <td id="presi4">0 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      
      
      
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/no.png" alt="" style="width:100%">
      <h1>Rancho escondido</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="rancho1">28.5</td>
             <td id="rancho2">40 mL</td>
             <td id="rancho3">161 cal</td>
             <td id="rancho4">1.7 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      
      
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/ron leyenda.jpg" alt="" style="width:100%">
      <h1>Ron Leyenda</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="ron1">37.5</td>
             <td id="ron2">61 mL</td>
             <td id="ron3">206 cal</td>
             <td id="ron4">0 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      
      
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      <!--End of row-->
      </div>
      
      
      <div class="row">
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/san luis.jpg" alt="" style="width:75%">
      <h1>San Luis</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="sanlui1">27.9</td>
             <td id="sanlui2">40 mL</td>
             <td id="sanlui3">157 cal</td>
             <td id="sanlui4">1 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      
      
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/no.png" alt="" style="width:100%">
      <h1>Tonaya</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="tonayan1">24.8</td>
             <td id="tonayan2">40 mL</td>
             <td id="tonayan3">140 cal</td>
             <td id="tonayan4">10 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/uruapan.avif" alt="" style="width:78%">
      <h1>Uruapan</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="urua1">37.7.3</td>
             <td id="urua2">53 mL</td>
             <td id="urua3">140 cal</td>
             <td id="urua4">0 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      
      
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/valle viejo.webp" alt="" style="width:100%">
      <h1>Valle Viejo</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="vallev1">28.1</td>
             <td id="vallev2">40 mL</td>
             <td id="vallev3">154 cal</td>
             <td id="vallev4">0.2 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      
      
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <!--End of row-->
      </div>
      
      <div class="row">
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/vertigo.webp" alt="" style="width:45%">
      <h1>Vertigo</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="verti1">28.1</td>
             <td id="verti2">40 mL</td>
             <td id="verti3">154 cal</td>
             <td id="verti4">0.2 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/zaverich.webp" alt="" style="width:100%">
      <h1>Zaverich</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="za1">35.9</td>
             <td id="za2">60 mL</td>
             <td id="za3">197 cal</td>
             <td id="za4">0 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      <!--End of row-->
      </div>
      
      <div class="row">
      
        
      
      
        <div class="column"> 
        <div class="card">
          <form method="post" action="/refrescos/addSoda">
          <img src="/assets/img/amster.webp" alt="" style="width:100%">
          <h1>Amster Ultra</h1>
          <button type="button" class="teble" id="teble"> Más información</button>
      
          <div class="content">
            <!--tabla-->
            <table id="customers">
              <tr>
             <th>%alc</th>
                 <th>Agua</th>
                 <th>Calorias</th>
                 <th>Azucar</th>
      
               </tr>
              <tr>
          <td id="amster1">4.0</td>
                 <td id="amster2">89 mL</td>
                 <td id="amster3">85 cal</td>
                 <td id="amster4">2.4 g</td>
                 <input type="hidden" name="agua" value="40" >
             
              </tr>
                </table>
          </div>
      
          <div class="caja">
            <!--Select-->
            <select name="cantidad">
              <option disabled selected="">Ingrese la cantidad </option>
              <option>100 mL</option>
              <option>150 mL</option>
              <option>200 mL </option>
              <option>300 mL</option>
              <option>400 mL</option>
              <option>500 mL</option>
              <option>600 mL</option>
              <option>700 mL</option>
              <option>800 mL</option>
              <option>900 mL</option>
              <option>1000 mL</option>
              <option>1200 mL</option>
              <option>1400 mL</option>
              <option>1500 mL</option>
              <option>1600 mL</option>
              <option>1800 mL</option>
              <option>1900 mL</option>
              <option>2000 mL</option>
              <option>2100 mL</option>
            </select>
          </div>
        <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/barrilito.png" alt="" style="width:43%">
      <h1>Barrilito</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <!--tabla-->
        <table id="customers">
          <tr>
              <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
             <td id="jacalito1">24.8</td>
             <td id="jacalito2">40 mL</td>
             <td id="jacalito3">141 cal</td>
             <td id="jacalito4">1.1 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/carta blanca.jfif" alt="" style="width:100%">
      <h1>Carta Blanca</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
      <!--tabla-->
      <table id="customers">
        <tr>
       <th>%alc</th>
           <th>Agua</th>
           <th>Calorias</th>
           <th>Azucar</th>
      
         </tr>
        <tr>
      <td id="cartabl1">4.5</td>
           <td id="cartabl2">89 mL</td>
           <td id="cartabl3">128 cal</td>
           <td id="cartabl4">3 g</td>
           <input type="hidden" name="agua" value="40" >
       
        </tr>
          </table>
      </div>
      
      <div class="caja">
      <!--Select-->
      <select name="cantidad">
        <option disabled selected="">Ingrese la cantidad </option>
        <option>100 mL</option>
        <option>150 mL</option>
        <option>200 mL </option>
        <option>300 mL</option>
        <option>400 mL</option>
        <option>500 mL</option>
        <option>600 mL</option>
        <option>700 mL</option>
        <option>800 mL</option>
        <option>900 mL</option>
        <option>1000 mL</option>
        <option>1200 mL</option>
        <option>1400 mL</option>
        <option>1500 mL</option>
        <option>1600 mL</option>
        <option>1800 mL</option>
        <option>1900 mL</option>
        <option>2000 mL</option>
        <option>2100 mL</option>
      </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/corona.webp" alt="" style="width:85%">
      <h1>Corona</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
      <!--tabla-->
      <table id="customers">
        <tr>
       <th>%alc</th>
           <th>Agua</th>
           <th>Calorias</th>
           <th>Azucar</th>
      
         </tr>
        <tr>
      <td id="coro1">4.2</td>
           <td id="coro2">95 mL</td>
           <td id="coro3">43 cal</td>
           <td id="coro4">3 g</td>
           <input type="hidden" name="agua" value="40" >
       
        </tr>
          </table>
      </div>
      
      <div class="caja">
      <!--Select-->
      <select name="cantidad">
        <option disabled selected="">Ingrese la cantidad </option>
        <option>100 mL</option>
        <option>150 mL</option>
        <option>200 mL </option>
        <option>300 mL</option>
        <option>400 mL</option>
        <option>500 mL</option>
        <option>600 mL</option>
        <option>700 mL</option>
        <option>800 mL</option>
        <option>900 mL</option>
        <option>1000 mL</option>
        <option>1200 mL</option>
        <option>1400 mL</option>
        <option>1500 mL</option>
        <option>1600 mL</option>
        <option>1800 mL</option>
        <option>1900 mL</option>
        <option>2000 mL</option>
        <option>2100 mL</option>
      </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      <!--End of row-->
      </div>
      
      
      
      <div class="row">
      
        
      
      
        <div class="column"> 
        <div class="card">
          <form method="post" action="/refrescos/addSoda">
          <img src="/assets/img/dos equis.jpg" alt="" style="width:100%">
          <h1>Dos Equis</h1>
          <button type="button" class="teble" id="teble"> Más información</button>
      
          <div class="content">
            <!--tabla-->
            <table id="customers">
              <tr>
             <th>%alc</th>
                 <th>Agua</th>
                 <th>Calorias</th>
                 <th>Azucar</th>
        
               </tr>
              <tr>
          <td id="dosx1">4.2</td>
                 <td id="dosx2">85 mL</td>
                 <td id="dosx3">130 cal</td>
                 <td id="dosx4">9 g</td>
                 <input type="hidden" name="agua" value="40" >
             
              </tr>
                </table>
          </div>
      
          <div class="caja">
            <!--Select-->
            <select name="cantidad">
              <option disabled selected="">Ingrese la cantidad </option>
              <option>100 mL</option>
              <option>150 mL</option>
              <option>200 mL </option>
              <option>300 mL</option>
              <option>400 mL</option>
              <option>500 mL</option>
              <option>600 mL</option>
              <option>700 mL</option>
              <option>800 mL</option>
              <option>900 mL</option>
              <option>1000 mL</option>
              <option>1200 mL</option>
              <option>1400 mL</option>
              <option>1500 mL</option>
              <option>1600 mL</option>
              <option>1800 mL</option>
              <option>1900 mL</option>
              <option>2000 mL</option>
              <option>2100 mL</option>
            </select>
          </div>
        <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/heineken.webp.crdownload" alt="" style="width:100%">
      <h1>Heineken</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <!--tabla-->
        <table id="customers">
          <tr>
         <th>%alc</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="heine1">5</td>
             <td id="heine2">90 mL</td>
             <td id="heine3">35 cal</td>
             <td id="heine4">1.3 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/indio.webp" alt="" style="width:100%">
      <h1>Indio</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
      <!--tabla-->
      <table id="customers">
        <tr>
       <th>%alc</th>
           <th>Agua</th>
           <th>Calorias</th>
           <th>Azucar</th>
      
         </tr>
        <tr>
      <td id="indi1">4.1</td>
           <td id="indi2">92 mL</td>
           <td id="indi3">50 cal</td>
           <td id="indi4">6.8 g</td>
           <input type="hidden" name="agua" value="40" >
       
        </tr>
          </table>
      </div>
      
      <div class="caja">
      <!--Select-->
      <select name="cantidad">
        <option disabled selected="">Ingrese la cantidad </option>
        <option>100 mL</option>
        <option>150 mL</option>
        <option>200 mL </option>
        <option>300 mL</option>
        <option>400 mL</option>
        <option>500 mL</option>
        <option>600 mL</option>
        <option>700 mL</option>
        <option>800 mL</option>
        <option>900 mL</option>
        <option>1000 mL</option>
        <option>1200 mL</option>
        <option>1400 mL</option>
        <option>1500 mL</option>
        <option>1600 mL</option>
        <option>1800 mL</option>
        <option>1900 mL</option>
        <option>2000 mL</option>
        <option>2100 mL</option>
      </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/modelo.jpg" alt="" style="width:100%">
      <h1>Modelo</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
      <!--tabla-->
      <table id="customers">
        <tr>
       <th>%alc.vol</th>
           <th>Agua</th>
           <th>Calorias</th>
           <th>Azucar</th>
      
         </tr>
        <tr>
      <td id="mod1">4.5</td>
           <td id="mod2">92 mL</td>
           <td id="mod3">173 cal</td>
           <td id="mod4">0 g</td>
           <input type="hidden" name="agua" value="40" >
       
        </tr>
          </table>
      
      </div>
      
      <div class="caja">
      <!--Select-->
      <select name="cantidad">
        <option disabled selected="">Ingrese la cantidad </option>
        <option>100 mL</option>
        <option>150 mL</option>
        <option>200 mL </option>
        <option>300 mL</option>
        <option>400 mL</option>
        <option>500 mL</option>
        <option>600 mL</option>
        <option>700 mL</option>
        <option>800 mL</option>
        <option>900 mL</option>
        <option>1000 mL</option>
        <option>1200 mL</option>
        <option>1400 mL</option>
        <option>1500 mL</option>
        <option>1600 mL</option>
        <option>1800 mL</option>
        <option>1900 mL</option>
        <option>2000 mL</option>
        <option>2100 mL</option>
      </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      <!--End of row-->
      </div>
      
      
      <div class="row">
      
        
      
      
        <div class="column"> 
        <div class="card">
          <form method="post" action="/refrescos/addSoda">
          <img src="/assets/img/sol.jfif" alt="" style="width:100%">
          <h1>Sol</h1>
          <button type="button" class="teble" id="teble"> Más información</button>
      
          <div class="content">
            <!--tabla-->
            <table id="customers">
              <tr>
               <th>%alc.vol</th>
                 <th>Agua</th>
                 <th>Calorias</th>
                 <th>Azucar</th>
      
               </tr>
              <tr>
              <td id="sol1">4.2</td>
                 <td id="sol2">88 mL</td>
                 <td id="sol3">129 cal</td>
                 <td id="sol4">2.5 g</td>
                 <input type="hidden" name="agua" value="40" >
               
              </tr>
                </table>
          </div>
      
          <div class="caja">
            <!--Select-->
            <select name="cantidad">
              <option disabled selected="">Ingrese la cantidad </option>
              <option>100 mL</option>
              <option>150 mL</option>
              <option>200 mL </option>
              <option>300 mL</option>
              <option>400 mL</option>
              <option>500 mL</option>
              <option>600 mL</option>
              <option>700 mL</option>
              <option>800 mL</option>
              <option>900 mL</option>
              <option>1000 mL</option>
              <option>1200 mL</option>
              <option>1400 mL</option>
              <option>1500 mL</option>
              <option>1600 mL</option>
              <option>1800 mL</option>
              <option>1900 mL</option>
              <option>2000 mL</option>
              <option>2100 mL</option>
            </select>
          </div>
        <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/tecate.jpg" alt="" style="width:65%">
      <h1>Tecate</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
        <!--tabla-->
        <table id="customers">
          <tr>
         <th>%alc.vol</th>
             <th>Agua</th>
             <th>Calorias</th>
             <th>Azucar</th>
      
           </tr>
          <tr>
      <td id="tec1">4.5</td>
             <td id="tec2">83 mL</td>
             <td id="tec3">142 cal</td>
             <td id="tec4">3 g</td>
             <input type="hidden" name="agua" value="40" >
         
          </tr>
            </table>
      
      </div>
      
      <div class="caja">
        <!--Select-->
        <select name="cantidad">
          <option disabled selected="">Ingrese la cantidad </option>
          <option>100 mL</option>
          <option>150 mL</option>
          <option>200 mL </option>
          <option>300 mL</option>
          <option>400 mL</option>
          <option>500 mL</option>
          <option>600 mL</option>
          <option>700 mL</option>
          <option>800 mL</option>
          <option>900 mL</option>
          <option>1000 mL</option>
          <option>1200 mL</option>
          <option>1400 mL</option>
          <option>1500 mL</option>
          <option>1600 mL</option>
          <option>1800 mL</option>
          <option>1900 mL</option>
          <option>2000 mL</option>
          <option>2100 mL</option>
        </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/5 macdowall.jfif" alt="" style="width:85%">
      <h1>5 macdowall</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
      <!--tabla-->
      <table id="customers">
        <tr>
       <th>%alc</th>
           <th>Agua</th>
           <th>Calorias</th>
           <th>Azucar</th>
      
         </tr>
        <tr>
      <td id="macdowall1">40.3</td>
           <td id="macdowall2">40mL</td>
           <td id="macdowall3">221 cal</td>
           <td id="macdowall4">0 g</td>
           <input type="hidden" name="agua" value="40" >
       
        </tr>
          </table>
      </div>
      
      <div class="caja">
      <!--Select-->
      <select name="cantidad">
        <option disabled selected="">Ingrese la cantidad </option>
        <option>100 mL</option>
        <option>150 mL</option>
        <option>200 mL </option>
        <option>300 mL</option>
        <option>400 mL</option>
        <option>500 mL</option>
        <option>600 mL</option>
        <option>700 mL</option>
        <option>800 mL</option>
        <option>900 mL</option>
        <option>1000 mL</option>
        <option>1200 mL</option>
        <option>1400 mL</option>
        <option>1500 mL</option>
        <option>1600 mL</option>
        <option>1800 mL</option>
        <option>1900 mL</option>
        <option>2000 mL</option>
        <option>2100 mL</option>
      </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      
      <div class="column">
      <div class="card">
      <form method="post" action="/refrescos/addSoda">
      <img src="/assets/img/bariama.webp" alt="" style="width:100%">
      <h1>Bariama</h1>
      <button type="button" class="teble" id="teble"> Más información</button>
      
      <div class="content">
      <!--tabla-->
      <table id="customers">
        <tr>
       <th>%alc</th>
           <th>Agua</th>
           <th>Calorias</th>
           <th>Azucar</th>
      
         </tr>
        <tr>
          <td id="bari1">38.6</td>
           <td id="bari2">61 mL</td>
           <td id="bari3">212 cal</td>
           <td id="bari4">0 g</td>
           <input type="hidden" name="agua" value="40" >
       
        </tr>
          </table>
      </div>
      
      <div class="caja">
      <!--Select-->
      <select name="cantidad">
        <option disabled selected="">Ingrese la cantidad </option>
        <option>100 mL</option>
        <option>150 mL</option>
        <option>200 mL </option>
        <option>300 mL</option>
        <option>400 mL</option>
        <option>500 mL</option>
        <option>600 mL</option>
        <option>700 mL</option>
        <option>800 mL</option>
        <option>900 mL</option>
        <option>1000 mL</option>
        <option>1200 mL</option>
        <option>1400 mL</option>
        <option>1500 mL</option>
        <option>1600 mL</option>
        <option>1800 mL</option>
        <option>1900 mL</option>
        <option>2000 mL</option>
        <option>2100 mL</option>
      </select>
      </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      <!--End of row-->
      </div>
      
      
      
      
      
                      
      
      
      <script src="/assets/js/js.js" >
      </script>
      
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="/assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20-1.js"></script>
    <script src="/assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>

</html>