<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>pruebita</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Beau+Rivage&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/FontAwesome.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/Bold-BS4-Responsive-Pricing-Table-Snippet.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="/assets/css/Ludens---1-Dark-mode-Index-Table-with-Search-Filters.css">
    <link rel="stylesheet" href="/assets/css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css">
    <link rel="stylesheet" href="/assets/css/Profile-with-data-and-skills.css">
    <link rel="stylesheet" href="/assets/css/Projects-Grid-Horizontal-images.css">
    <link rel="stylesheet" href="/assets/css/Simple-Bootstrap-Chat-1.css">
    <link rel="stylesheet" href="/assets/css/Simple-Bootstrap-Chat.css">
    <link rel="stylesheet" href="/assets/css/Team-icons.css">
    <link rel="stylesheet" href="/assets/css/untitled.css">
    <link rel="stylesheet" href="/assets/css/User-Rating-F19690.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top portfolio-navbar gradient" style="background: linear-gradient(120deg, #125de0, #0effff);height: 6rem;width: 100%;">
        <div class="container"><a class="navbar-brand logo" href="#">WR</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item item"><a class="nav-link active" href="/home">Home</a></li>
                <li class="nav-item item"><a class="nav-link" href="/regAgua">Registro</a></li>
                <li class="nav-item item"><a class="nav-link" href="/refrescos">Otras Bebidas</a></li>
                <li class="nav-item item"><a class="nav-link" href="/grupos">Grupos</a></li>
                <li class="nav-item item"><a class="nav-link" href="/perfil">Perfil</a></li>
            </ul>
            </div>
        </div>
    </nav>
    <section class="portfolio-block website">
        <div class="container">
            <div class="row align-items-center" style="margin-left: -15%;">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3
                        style="color: rgb(15,193,243);font-weight: bold;text-align: right;font-size: 38px;margin-top: 35px;">
                        Grupos&nbsp; &nbsp; &nbsp; &nbsp;</h3>

                    <% respuesta.forEach((user)=> { %>
                        <button class="btn btn-primary" data-bss-hover-animate="rubberBand" type="submit"
                            style="position: static;display: inline-block;margin-left: 30%;background: rgb(16,210,247);border-style: solid;border-color: rgb(16,210,247);border-bottom-style: solid;border-bottom-color: rgb(16,210,247);font-size: 18px;margin-top: 1rem;">
                            <a href="grupos/grupo/<%=user.codigo1%>"
                                style="text-decoration: none;color: #ffffff;font-size: 19px;">
                                <%= user.nombreGrupo %> Codigo: (<%= user.codigo1 %>)
                            </a>
                        </button>
                        <% }); %>

                </div>
                <div class="col-md-12 col-lg-5 col-xxl-5" style="height: 400px;"><img src="/assets/img/grupos.png"
                        width="487" height="536" style="/*height: 100%;*/padding: 0px;margin-top: -5%;">
                    <div class="btn-group" role="group" style="margin-top: -30%;margin-left: 40%;">
                        <a href="#modal1"><button class="btn btn-primary" type="button">Crear</button></a>
                        <a href="#modal2"><button class="btn btn-primary" type="button">Unirme</button></a>
                    </div>
                </div>
                <div id="modal1" class="modals">
                    <div class="modalbox movedown">
                        <a href="#close" title="Close" class="close">X</a>
                        <br>
                        <center>
                            <h3>Crear grupo</h3>
                        </center>
                        <br>
                        <form action="grupos/crearGrupo" method="post">
                            <label>
                                <font color="white">Inserte el nombre del grupo</font>
                            </label>
                            <input type="text" name="nombreGrupo">
                            <br><br>
                            <center> <input class="input" type="submit" value="Enviar"></center>

                        </form>
                    </div>
                </div>

                <div id="modal2" class="modalmask">
                    <div class="modalbox movedown">
                        <a href="#close" title="Close" class="close">X</a>
                        <br>
                        <center>
                            <h3>Unirme</h3>
                        </center>
                        <form action="grupos/unirseGrupo" method="post">
                            <label>
                                <font color="white">Inserte el codigo del grupo</font>
                            </label>
                            <input type="text" name="codigo">
                            <br><br>
                            <center> <input class="input" type="submit" value="Enviar"></center>


                        </form>
                    </div>
                </div>
            </div>
    </section>
    <section></section>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="/assets/js/Ludens---1-Dark-mode-Index-Table-with-Search-Filters.js"></script>
    <script src="/assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20-1.js"></script>
    <script src="/assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>

</html>