<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Beau+Rivage&amp;display=swap">
    <link rel="stylesheet" href="assets/css/FontAwesome.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Responsive-Pricing-Table-Snippet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css">
    <link rel="stylesheet" href="assets/css/Profile-with-data-and-skills.css">
    <link rel="stylesheet" href="assets/css/Projects-Grid-Horizontal-images.css">
    <link rel="stylesheet" href="assets/css/Simple-Bootstrap-Chat-1.css">
    <link rel="stylesheet" href="assets/css/Simple-Bootstrap-Chat.css">
    <link rel="stylesheet" href="assets/css/Team-icons.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <link rel="stylesheet" href="assets/css/User-Rating-F19690.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="background: linear-gradient(120deg, #125de0, #0effff);height: 6rem;width: 100%;">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav-1"><a class="navbar-brand logo" href="#" style="/*margin-left: 10rem;*//*color: red;*/">WR</a>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/#">Home</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Iniciar Sesión</a></li>
                    <li class="nav-item"><a class="nav-link" href="/registrarse">Registrarse</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro" style="height: 100vh;width: 100%;background: linear-gradient(120deg, #125de0, #0effff);">
            <div class="container" style="width: 45rem;margin-left: 7%;margin-top: 5%;">
                <div class="about-me" style="width: 45rem;text-align: left;margin-left: -8%;align-content: initial;">
                    <h1 style="color: white;font-weight: bold;font-size: 52px;">Water Reminder</h1>
                    <p style="color: white;font-weight: bold;font-size: 25px;">Nosotros somos agua, lo cuidamos, nosotros somos Water Reminder<br></p><a class="btn btn-outline-primary" role="button" href="#about" style="font-size: 18px;/*color: var(--bs-link-hover-color);*/background: #58b7fbe9;color: white;">Get Started</a>
                </div>
            </div>
            <div class="container" style="max-width: 400px;margin-top: -20%;margin-left: 135vh;"><img data-bss-hover-animate="tada" src="assets/img/Captura_de_pantalla_2023-03-15_234334-removebg-preview.png" width="422" height="370"></div>
        </section>
        <section id="about" class="about" style="height: 100%;">
            <div class="container py-4 py-xl-5" style="margin-top: 8%;">
                <div class="row mb-5" style="height: 5rem;margin-top: 5em;">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h2 style="font-size: 32px;color: #3364e3;font-weight: bold;margin-top: 1em;">NUESTRO SER</h2>
                    </div>
                </div>
                <div class="row gy-4 row-cols-1 row-cols-md-2">
                    <div class="col">
                        <div class="d-flex flex-column flex-lg-row">
                            <div class="py-4 py-lg-0 px-lg-4">
                                <h4 style="color: #4e76df;font-weight: bold;">¿Quiénes somos?</h4>
                                <p style="/*text-align: justify;*/"><span style="color: rgb(68, 68, 68);">Nerv, somos una empresa de desarrollo de software y paginas web con el objetivo de monitorear el consumo de agua&nbsp;por un ser humano, hemos desarrollado un nuevo proyecto "Remind Water ver1.0"</span><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column flex-lg-row">
                            <div class="py-4 py-lg-0 px-lg-4">
                                <h4 style="color: #4e76df;font-weight: bold;">Acerca de</h4>
                                <p style="/*text-align: justify;*/"><span style="color: rgb(68, 68, 68);">Remind Water ver1.0 o Water Reminder traducido del ingles; recordador de tomar agua, es primera versión de un programa que en efecto te recuerda como tomar agua!</span><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column flex-lg-row">
                            <div class="py-4 py-lg-0 px-lg-4">
                                <h4 style="color: #4e76df;font-weight: bold;">Los motivos</h4>
                                <p style="/*text-align: justify;*/"><span style="color: rgb(68, 68, 68);">¿Por qué&nbsp;desarrollar algo así?, tras una encuesta a la población se ha analizado que las personas no olvidan tomar agua pero están&nbsp;interesadas en un registro de cuando si lo hacen y ahí esta nuestro cliente</span><br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column flex-lg-row">
                            <div class="py-4 py-lg-0 px-lg-4">
                                <h4 style=  "color: #4e76df;font-weight: bold;">Water Reminder</h4>
                                <p style ="/*text-align: justify;*/"><span style="color: rgb(68, 68, 68);">Nuestro proyecto actualmente REMIND WATERver1.0 ofrece al usuario un registro completo de cuanta agua consume al día y una taza objetiva la cual se calcula a través&nbsp;de su peso, altura y edad. Además se ofrece la características de notificar al usuario si es que debe de consumir agua simple hasta llegar a la meta alcanzada</span><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container py-4 py-xl-5" style="margin-top: %;">
                <div class="row mb-4 mb-lg-5" style="margin-top: 5em;">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h2 style="color: #3364e3;font-size: 32px;font-weight: bold;">Team</h2>
                        <p class="w-lg-50">El equipo de desarrolladores esta conformado por personas bien capacitadas y un buen manejo en su campo</p>
                    </div>
                </div>
                <div class="row gy-4 row-cols-2 row-cols-md-4" style="margin-left: auto;align-items: center;align-content: center;">
                    <div class="col-lg-4 col-xl-2 col-xxl-2 offset-lg-0 offset-xl-1">
                        <div class="card border-0 shadow-none">
                            <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="assets/img/team-1.jpg" style="background: url(&quot;assets/img/team-1.jpg&quot;);">
                                <h5 class="fw-bold text-primary card-title mb-0">Pulido Daniel</h5>
                                <p class="text-muted card-text mb-2">Programador Back-End<br></p><a href="https://github.com/Daniel8966" style="padding-bottom: 0px;padding-right: 0px;text-decoration: none;">Daniel8966</a>
                                <ul class="list-inline fs-6 text-muted w-100 mb-0">
                                    <li class="list-inline-item text-center">
                                        <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-github">
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                            </svg></div>
                                    </li>
                                    <li class="list-inline-item text-center">
                                        <div class="d-flex flex-column align-items-center"></div>
                                    </li>
                                    <li class="list-inline-item text-center">
                                        <div class="d-flex flex-column align-items-center"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-2">
                        <div class="card border-0 shadow-none">
                            <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="assets/img/team-3.jpg">
                                <h5 class="fw-bold text-primary card-title mb-0">Díaz Ismael</h5>
                                <p class="text-muted card-text mb-2">Programador Back-End</p><a href="https://github.com/DarknessPrince1210" style="padding-bottom: 0px;padding-right: 0px;text-decoration: none;">DarknessPrince1210</a>
                                <ul class="list-inline fs-6 text-muted w-100 mb-0">
                                    <li class="list-inline-item text-center">
                                        <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-github">
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                            </svg></div>
                                    </li>
                                    <li class="list-inline-item text-center">
                                        <div class="d-flex flex-column align-items-center"></div>
                                    </li>
                                    <li class="list-inline-item text-center">
                                        <div class="d-flex flex-column align-items-center"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-2">
                        <div class="card border-0 shadow-none">
                            <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="assets/img/team-4.jpg">
                                <h5 class="fw-bold text-primary card-title mb-0">Flores Mariana</h5>
                                <p class="text-muted card-text mb-2">Programador Front-End</p><a href="https://github.com/MarianaFlores9" style="padding-bottom: 0px;padding-right: 0px;text-decoration: none;">MarianaFlores9</a>
                                <ul class="list-inline fs-6 text-muted w-100 mb-0">
                                    <li class="list-inline-item text-center">
                                        <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-github">
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                            </svg></div>
                                    </li>
                                    <li class="list-inline-item text-center">
                                        <div class="d-flex flex-column align-items-center"></div>
                                    </li>
                                    <li class="list-inline-item text-center">
                                        <div class="d-flex flex-column align-items-center"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-2">
                        <div class="card border-0 shadow-none">
                            <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="assets/img/WhatsAppImage2022-10-01at8.32.06PM.jpeg">
                                <h5 class="fw-bold text-primary card-title mb-0">Sansores Leonel</h5>
                                <p class="text-muted card-text mb-2">Programador Front-End</p><a href="https://github.com/Leonel04040" style="padding-bottom: 0px;padding-right: 0px;text-decoration: none;">Leonel04040</a>
                                <ul class="list-inline fs-6 text-muted w-100 mb-0">
                                    <li class="list-inline-item text-center">
                                        <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-github">
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                            </svg></div>
                                    </li>
                                    <li class="list-inline-item text-center">
                                        <div class="d-flex flex-column align-items-center"></div>
                                    </li>
                                    <li class="list-inline-item text-center">
                                        <div class="d-flex flex-column align-items-center"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-2">
                        <div class="card border-0 shadow-none">
                            <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="assets/img/tem5.jpeg">
                                <h5 class="fw-bold text-primary card-title mb-0">Salas Jose</h5>
                                <p class="text-muted card-text mb-2">Documentación</p><a href="https://github.com/JoseSalas3" style="padding-bottom: 0px;padding-right: 0px;text-decoration: none;">JoseSalas3</a>
                                <ul class="list-inline fs-6 text-muted w-100 mb-0">
                                    <li class="list-inline-item text-center">
                                        <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-github">
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                            </svg></div>
                                    </li>
                                    <li class="list-inline-item text-center">
                                        <div class="d-flex flex-column align-items-center"></div>
                                    </li>
                                    <li class="list-inline-item text-center">
                                        <div class="d-flex flex-column align-items-center"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer gradient" style="margin-top: 7rem;background: linear-gradient(120deg, #125de0, #0effff);">
        <div class="container">
            <div class="links"></div>
            <p style="font-size: 18px;">Contáctanos en</p>
            <p style="height: 25px;text-align: center;">water_reminder@gmail.com&nbsp; &nbsp; &nbsp; o&nbsp; &nbsp; &nbsp;al&nbsp; (52)88885555<br></p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20-1.js"></script>
    <script src="assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>