<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Refrescos</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Beau+Rivage&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/FontAwesome.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/Bold-BS4-Responsive-Pricing-Table-Snippet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="/assets/css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css">
    <link rel="stylesheet" href="/assets/css/Profile-with-data-and-skills.css">
    <link rel="stylesheet" href="/assets/css/Projects-Grid-Horizontal-images.css">
    <link rel="stylesheet" href="/assets/css/Simple-Bootstrap-Chat-1.css">
    <link rel="stylesheet" href="/assets/css/Simple-Bootstrap-Chat.css">
    <link rel="stylesheet" href="/assets/css/Team-icons.css">
    <link rel="stylesheet" href="/assets/css/untitled.css">
    <link rel="stylesheet" href="/assets/css/User-Rating-F19690.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <main class="page hire-me-page">
        <section class="portfolio-block hire-me">
            <nav class="navbar navbar-dark navbar-expand-lg fixed-top portfolio-navbar gradient" style="background: linear-gradient(120deg, #125de0, #0effff);height: 6rem;width: 100%;">
                <div class="container"><a class="navbar-brand logo" href="#">WR</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav ms-auto">
                        <li class="nav-item item"><a class="nav-link active" href="/home">Home</a></li>
                        <li class="nav-item item"><a class="nav-link" href="/regAgua">Registro</a></li>
                        <li class="nav-item item"><a class="nav-link" href="/refrescos">Otras Bebidas</a></li>
                        <li class="nav-item item"><a class="nav-link" href="/grupos">Grupos</a></li>
                        <li class="nav-item item"><a class="nav-link" href="/perfil">Perfil</a></li>
                    </ul>
                    </div>
                </div>
            </nav>
            
    </main>
   

    <div class="col me-2">
    
      <div class="row">

        <div class="column">
      <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span></span>
          
              <div class="card shadow border-start-primary py-2">
                  <div class="card-body">
                      <div class="row align-items-center no-gutters">
                          <div class="col me-2">
                            <a href="/refrescos">  <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>refrescos</span></div></a>
                          </div>
                          <div class="col-auto"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-96 0 512 512" width="1em" height="1em" fill="currentColor" class="fa-2x text-gray-300" style="color: var(--bs-teal);">
                                  <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                  <path d="M200 0C213.3 0 224 10.75 224 24V64H96V24C96 10.75 106.7 0 120 0H200zM32 151.7C32 136.1 41.04 121.9 55.19 115.3L79.6 103.8C90.58 98.67 102.6 96 114.7 96H205.3C217.4 96 229.4 98.67 240.4 103.8L264.8 115.3C278.1 121.9 288 136.1 288 151.7C288 166.1 280.5 178.7 269.1 185.8C280.6 194.6 288 208.4 288 223.1C288 240.7 279.5 255.4 266.5 263.1C279.5 272.6 288 287.3 288 303.1C288 320.7 279.5 335.4 266.5 344C279.5 352.6 288 367.3 288 384C288 400.7 279.5 415.4 266.5 424C279.5 432.6 288 447.3 288 464C288 490.5 266.5 512 240 512H80C53.49 512 32 490.5 32 464C32 447.3 40.52 432.6 53.46 424C40.52 415.4 32 400.7 32 384C32 367.3 40.52 352.6 53.46 344C40.52 335.4 32 320.7 32 303.1C32 287.3 40.52 272.6 53.46 263.1C40.52 255.4 32 240.7 32 223.1C32 208.4 39.4 194.6 50.87 185.8C39.53 178.7 32 166.1 32 151.7L32 151.7zM112 256H208C216.8 256 224 248.8 224 240C224 231.2 216.8 224 208 224H112C103.2 224 96 231.2 96 240C96 248.8 103.2 256 112 256zM112 352C103.2 352 96 359.2 96 368C96 376.8 103.2 384 112 384H208C216.8 384 224 376.8 224 368C224 359.2 216.8 352 208 352H112z"></path>
                              </svg></div>
                      </div>
                  </div>
              </div>
          </div>
      
        
      
      
      </div>



      <div class="column">
      <div class="text-uppercase text-success fw-bold text-xs mb-1">
      
          <div class="card shadow border-start-success py-2">
              <div class="card-body">
                  <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <a href="/refrescos/alcohol">  <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Bebidas alcoholicas</span></div></a>
                          <div class="text-dark fw-bold h5 mb-0"></div>
                      </div>
                      <div class="col-auto"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="fa-2x text-gray-300">
                              <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                              <path d="M507.3 72.57l-67.88-67.88c-6.252-6.25-16.38-6.25-22.63 0l-22.63 22.62c-6.25 6.254-6.251 16.38-.0006 22.63l-76.63 76.63c-46.63-19.75-102.4-10.75-140.4 27.25l-158.4 158.4c-25 25-25 65.51 0 90.51l90.51 90.52c25 25 65.51 25 90.51 0l158.4-158.4c38-38 47-93.76 27.25-140.4l76.63-76.63c6.25 6.25 16.5 6.25 22.75 0l22.63-22.63C513.5 88.95 513.5 78.82 507.3 72.57zM179.3 423.2l-90.51-90.51l122-122l90.51 90.52L179.3 423.2z"></path>
                          </svg></div>
                  </div>
              </div>
          
      </div>
      </div>
    </div>



<div class="column">

<div class="text-uppercase text-warning fw-bold text-xs mb-1"><span></span>
        
              <div class="card shadow border-start-warning py-2">
                  <div class="card-body">
                      <div class="row align-items-center no-gutters">
                          <div class="col me-2">
                            <a href="/refrescos/energeticas"><div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>bebidas energeticas</span></div></a>
                          </div>
                          
                          <div class="col-auto"><i class="fas fa-bolt fa-2x text-gray-300"></i></div>
                      </div>
                  </div>
              </div>
          
</div>
</div>
  

<div class="column">
          <div class="text-uppercase text-info fw-bold text-xs mb-1"><span></span>
  
<div class="card shadow border-start-info py-2">
          <div class="card-body">
              <div class="row align-items-center no-gutters">
                  <div class="col me-2">
                    <a href="/refrescos/jugos">  <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>jugos</span></div></a>
                      <div class="row g-0 align-items-center">
                          <div class="col-auto">
                              <div class="text-dark fw-bold h5 mb-0 me-3"></div>
                          </div>
                      </div>
                  </div>
                  <div class="col-auto"><i class="fas fa-apple-alt fa-2x text-gray-300"></i></div>
              </div>
          </div>
      </div>
    </div>

  </div>







       
      </div>
    </div>

              
  





    
      <div class="search">
         <input type="text" class="searchTerm" placeholder="What are you looking for?">
         <button type="submit" class="searchButton">
           <i class="fa fa-search"></i>
        </button>
      </div>
   
        <!--collapsible-->
         
          
      
          <!-- div principal de refrescos-->
          
            <div class="row">
      
          
      
      
            <div class="column"> 
            <div class="card">
              <form method="post" action="refrescos/addSoda">
              <img src="assets/img/7uppp.jpg" alt="" style="width:100%">
              <h1>7up</h1>
              <button type="button" class="teble" id="teble"> Más información</button>
      
              <div class="content">
                <!--tabla-->
                <table id="customers"  style="overflow-x:auto;">
                  <tr>
                     <th>Agua</th>
                     <th>Calorias</th>
                     <th>Azucar</th>
                   </tr>
                  <tr>
                     <td>180</td>
                     <input type="hidden" name="agua" value="180" >
                     <td id="7up2">80 cal</td>
                     <td id="7up3">20 g</td>
                  </tr>
                    </table>
              </div>
      
              <div class="caja">
                <!--Select-->
                <select name="cantidad">
                  <option disabled selected="">Ingrese la cantidad </option>
                  <option>100 mL</option>
                  <option>150 mL</option>
                  <option>200 mL </option>
                  <option>300 mL</option>
                  <option>400 mL</option>
                  <option>500 mL</option>
                  <option>600 mL</option>
                  <option>700 mL</option>
                  <option>800 mL</option>
                  <option>900 mL</option>
                  <option>1000 mL</option>
                  <option>1200 mL</option>
                  <option>1400 mL</option>
                  <option>1500 mL</option>
                  <option>1600 mL</option>
                  <option>1800 mL</option>
                  <option>1900 mL</option>
                  <option>2000 mL</option>
                  <option>2100 mL</option>
                </select>
              </div>
            <p><button class="button" id="button" type="submit">Ingresar</button></p>
          </form>
         <!--tarjeta-->
        </div>
      </div>
      
      <div class="column">
        <div class="card">
          <form method="post" action="refrescos/addSoda">
          <img src="assets/img/Aurrera.jpg" alt="" style="width:85%">
          <h1>Auerra Manzana</h1>
          <button type="button" class="teble" id="teble"> Más información</button>
      
          <div class="content">
            <!--tabla-->
            <table id="customers">
              <tr>
                 <th>Agua</th>
                 <th>Calorias</th>
                 <th>Azucar</th>
               </tr>
              <tr>
                 <td name="agua">185 mL</td>
                 <td id="aurrera2">16cal</td>
                 <td id="aurrera3">4g</td>
                 <input type="hidden" name="agua" value="180" >
              </tr>
                </table>
          </div>
      
          <div class="caja">
            <!--Select-->
            <select name="cantidad">
              <option disabled selected="">Ingrese la cantidad </option>
              <option>100 mL</option>
              <option>150 mL</option>
              <option>200 mL </option>
              <option>300 mL</option>
              <option>400 mL</option>
              <option>500 mL</option>
              <option>600 mL</option>
              <option>700 mL</option>
              <option>800 mL</option>
              <option>900 mL</option>
              <option>1000 mL</option>
              <option>1200 mL</option>
              <option>1400 mL</option>
              <option>1500 mL</option>
              <option>1600 mL</option>
              <option>1800 mL</option>
              <option>1900 mL</option>
              <option>2000 mL</option>
              <option>2100 mL</option>
            </select>
          </div>
        <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/big fresh.webp" alt="" style="width:100%">
        <h1>Big Fresh</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <!--tabla-->
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td name="agua">180 mL</td>
               <td id="big2">32cal</td>
               <td id="big3">8g</td>
               <input type="hidden" name="agua" value="180" >
            </tr>
              </table>
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/coca colaa.jpg" alt="" style="width:100%">
        <h1>Coca Cola</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <!--tabla-->
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td name="agua">170 mL</td>
               <td id="coca2">84 cal</td>
               <td id="coca3">21 g</td>
               <input type="hidden" name="agua" value="170" >
            </tr>
              </table>
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      <!--End of row-->
      </div>
      
      
      <div class="row">
      
        <div class="column">
        <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/crush.webp" alt="" style="width:100%">
        <h1>Crush</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <!--tabla-->
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td name="agua"> 180 mL</td>
               <td id="crush2">32cal</td>
               <td id="crush3">8g</td>
               <input type="hidden" name="agua" value="180" >
            </tr>
              </table>
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
        </div>
      
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/dr pepper.jfif" alt="" style="width:100%">
        <h1>Dr. Pepper</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <!--tabla-->
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td name="agua">176 mL</td>
               <td id="pep2">80 cal</td>
               <td id="pep3">20 g</td>
               <input type="hidden" name="agua" value="176" >
            </tr>
          </table>
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/Fanta.jpg" alt="" style="width:100%">
        <h1>Fanta</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <!--tabla-->
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td name="agua">180 mL</td>
               <td id="fanta2">92cal</td>
               <td id="fanta3">23 g</td>
               <input type="hidden" name="agua" value="180" >
            </tr>
              </table>
      
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/fresca.webp" alt="" style="width:100%">
        <h1>Fresca</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <!--tabla-->
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td name="agua">176 mL</td>
               <td id="fres2">80 cal</td>
               <td id="fres3">20 g</td>
               <input type="hidden" name="agua" value="176" >
            </tr>
              </table>
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      <!--End of row-->
      </div>
      
      
      
      <div class="row">
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/jarritos.webp" alt="" style="width:100%">
        <h1>Jarritos</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <!--tabla-->
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td name="agua">181 mL</td>
               <td id="jarrito2">88 cal</td>
               <td id="jarrito3">22 g</td>
               <input type="hidden" name="agua" value="181" >
            </tr>
              </table>
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/lift.webp" alt="" style="width:100%">
        <h1>Lift</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <!--tabla-->
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td name="agua">176 mL</td>
               <td id="lift2">80 cal</td>
               <td id="lift3">20 g</td>
               <input type="hidden" name="agua" value="176" >
            </tr>
              </table>
      
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/lulu.webp" alt="" style="width:100%">
        <h1>Lulú</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <!--tabla-->
          <table id="customers"  style="overflow-x:auto;">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td name="agua" >180 mL</td>
               <td id="7up2">80 cal</td>
               <td id="7up3">20 g</td>
               <input type="hidden" name="agua" value="180" >
            </tr>
              </table>
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/manzanita sol.jpg" alt="" style="width:100%">
        <h1>Manzanita Sol</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <!--tabla-->
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td name="agua">180 mL</td>
               <td id="manzana2">84 cal</td>
               <td id="manzana3">21 g</td>
               <input type="hidden" name="agua" value="180" >
            </tr>
              </table>
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      <!--End of row-->
      </div>
      
      <div class="row">
      
        <div class="column">
        <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/mirinda.jpg" alt="" style="width:100%">
        <h1>Mirinda</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <!--tabla-->
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td name="agua">181 mL</td>
               <td id="mirinda2">100cal</td>
               <td id="mirinda3">25 g</td>
               <input type="hidden" name="agua" value="181" >
            </tr>
              </table>
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      <div class="column">
        <div class="card">
          <form method="post" action="refrescos/addSoda">
          <img src="assets/img/orange crush.jpg" alt="" style="width:100%">
          <h1>Orange Crush</h1>
          <button type="button" class="teble" id="teble"> Más información</button>
      
          <div class="content">
            <table id="customers">
              <tr>
                 <th>Agua</th>
                 <th>Calorias</th>
                 <th>Azucar</th>
               </tr>
              <tr>
                 <td id="orange1">183 mL</td>
                 <td id="orange2">28cal</td>
                 <td id="orange3">7g</td>
                 <input type="hidden" name="agua" value="183" >
              </tr>
                </table>
      
      
          </div>
      
          <div class="caja">
            <!--Select-->
            <select name="cantidad">
              <option disabled selected="">Ingrese la cantidad </option>
              <option>100 mL</option>
              <option>150 mL</option>
              <option>200 mL </option>
              <option>300 mL</option>
              <option>400 mL</option>
              <option>500 mL</option>
              <option>600 mL</option>
              <option>700 mL</option>
              <option>800 mL</option>
              <option>900 mL</option>
              <option>1000 mL</option>
              <option>1200 mL</option>
              <option>1400 mL</option>
              <option>1500 mL</option>
              <option>1600 mL</option>
              <option>1800 mL</option>
              <option>1900 mL</option>
              <option>2000 mL</option>
              <option>2100 mL</option>
            </select>
          </div>
        <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/pepsi.jpg" alt="" style="width:100%">
        <h1>Pepsi</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="peps1">170 mL</td>
               <td id="peps2">92cal</td>
               <td id="peps3">23 g</td>
               <input type="hidden" name="agua" value="170" >
            </tr>
              </table>
      
      
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/red cola.jfif" alt="" style="width:100%">
        <h1>Red Cola</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="red1">176 mL</td>
               <td id="red2">88cal</td>
               <td id="red3">22 g</td>
               <input type="hidden" name="agua" value="176" >
            </tr>
              </table>
      
      
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      <!--End of row-->
      </div>
      
      
      <div class="row">
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/rochito.jpg" alt="" style="width:100%">
        <h1>Jarochito</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="jaro1">185 mL</td>
               <td id="jaro2">24 cal</td>
               <td id="jaro3">6 g</td>
               <input type="hidden" name="agua" value="185" >
            </tr>
              </table>
      
      
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/no.png" alt="" style="width:100%">
        <h1>Selecto Refresco</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="selecto1">181 mL</td>
               <td id="selecto2">88 cal</td>
               <td id="selecto3">22 g</td>
               <input type="hidden" name="agua" value="181" >
            </tr>
              </table>
      
      
      
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/sidralmundet.png" alt="" style="width:100%">
        <h1>sidral Mundet</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="sid1">180 mL</td>
               <td id="sid2">80 cal</td>
               <td id="sid3">20 g</td>
               <input type="hidden" name="agua" value="180" >
            </tr>
              </table>
      
      
      
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/no.png" alt="" style="width:100%">
        <h1>Sangria Señorial</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="san1">180 mL</td>
               <td id="san2">92 cal</td>
               <td id="san3">23 g</td>
               <input type="hidden" name="agua" value="180" >
            </tr>
              </table>
      
      
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      <!--End of row-->
      </div>
      
      
      <div class="row">
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/no.png" alt="" style="width:100%">
        <h1>Soriana Naranja</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="soriana1">180 mL</td>
               <td id="soriana2">76cal</td>
               <td id="soriana3">18 g</td>
               <input type="hidden" name="agua" value="180" >
            </tr>
              </table>
      
      
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/sprite.png" alt="" style="width:100%">
        <h1>Sprite</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="sprite1">176 mL</td>
               <td id="sprite2">80 cal</td>
               <td id="sprite3">20 g</td>
               <input type="hidden" name="agua" value="176" >
            </tr>
              </table>
      
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/no.png" alt="" style="width:100%">
        <h1>Yoli</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="yoli1">180 mL</td>
               <td id="yoli2">84 cal</td>
               <td id="yoli3">21 g</td>
               <input type="hidden" name="agua" value="180" >
            </tr>
              </table>
      
      
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/no.png" alt="" style="width:100%">
        <h1>Toni</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="toni1">176 mL</td>
               <td id="toni2">64 cal</td>
               <td id="toni3">16 g</td>
               <input type="hidden" name="agua" value="176" >
            </tr>
              </table>
      
      
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      <!--End of row-->
      </div>
      
      <div class="row">
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/squirt.png" alt="" style="width:100%">
        <h1>Squirt</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="squirt1">180 mL</td>
               <td id="squirt2">88 cal</td>
               <td id="squirt3">22 g</td>
               <input type="hidden" name="agua" value="180" >
            </tr>
              </table>
      
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      
      
      <div class="column">
      <div class="card">
        <form method="post" action="refrescos/addSoda">
        <img src="assets/img/canada fry.jfif" alt="" style="width:100%">
        <h1>Canada Fry</h1>
        <button type="button" class="teble" id="teble"> Más información</button>
      
        <div class="content">
          <table id="customers">
            <tr>
               <th>Agua</th>
               <th>Calorias</th>
               <th>Azucar</th>
             </tr>
            <tr>
               <td id="canda1">176 mL</td>
               <td id="canda2">68cal</td>
               <td id="canda3">17g</td>
               <input type="hidden" name="agua" value="176" >
            </tr>
              </table>
        </div>
      
        <div class="caja">
          <!--Select-->
          <select name="cantidad">
            <option disabled selected="">Ingrese la cantidad </option>
            <option>100 mL</option>
            <option>150 mL</option>
            <option>200 mL </option>
            <option>300 mL</option>
            <option>400 mL</option>
            <option>500 mL</option>
            <option>600 mL</option>
            <option>700 mL</option>
            <option>800 mL</option>
            <option>900 mL</option>
            <option>1000 mL</option>
            <option>1200 mL</option>
            <option>1400 mL</option>
            <option>1500 mL</option>
            <option>1600 mL</option>
            <option>1800 mL</option>
            <option>1900 mL</option>
            <option>2000 mL</option>
            <option>2100 mL</option>
          </select>
        </div>
      <p><button class="button" id="button">Ingresar</button></p>
      </form>
      <!--tarjeta-->
      </div>
      </div>
      <!--End of row-->
      </div>
      <!--Fin de contenido-->
      
       <!--fin de refrescos-->
       
                   
      
      
      <script src="/assets/js/js.js" >
      </script>
      
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="/assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20-1.js"></script>
    <script src="/assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>

</html>